* {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: sans-serif;

}

.navbar {
    text-transform: uppercase;
    font-size: 18px;
    padding: 35px 0;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    margin-right: 70px;
    color: #16a085;
}

.navbar a:last-child {
    margin-right: 0;
}

img {
    width: 100%;
}

h2 {
    font-size: 22px;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.content {
    /*display: inline-block;*/
    background-color: #f5f6f7;
    padding-top: 60px;
    overflow: hidden;
}

.paragraphs {
    padding: 0 110px;
    margin: 0 0 41px;
}

p {
    font-size: 16px;
    color: #373737;
    text-align: center;
    line-height: 1.5;
}

button {
    display: block;
    width: 192px;
    height: 51px;
    margin: 0 auto 94px;
    background-color: #16a085;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

button:hover {
    cursor: pointer;
}

footer p{
    text-align: right;
    padding: 45px 104px 45px 0;
}

